 .tercerparrafo {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                text-align: justify;
                text-transform: uppercase;
                color: rgb(151, 94, 204)
            }